*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  --color-red: rgba(220, 20, 60, 0.9);
  --color-red-hover: rgb(219, 23, 62);
}

@font-face {
  font-family: 'Eternal';
  src: url('./eternal.ttf');
}

@font-face {
  font-family: 'Josefin';
  src: url('./JosefinSans-VariableFont_wght.ttf');
}

body {
  background-image: url('./guild-interior-md.jpg');
  background-size: cover;
}

#content {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid black;
  background-color: var(--color-red);
  color: white;
  font-family: 'Eternal', Helvetica, sans-serif;
}

.header > h1 {
  font-size: 4rem;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 30px;
  font-size: 3.3rem;
}

a:hover {
  text-decoration: underline;
}

.active {
  color: yellow;
}

main {
  margin: 10px;
}

.home-container, .menu-container, .contact-container {
  background-color: rgba(0, 0, 0, 0.80);
  margin: auto;
  font-size: 2rem;
  font-family: 'Josefin', Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  backdrop-filter: blur(1px);
}

.home-container {
  width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  gap: 50px;
  color: white;
  text-align: center;
}

.menu-container {
  /* width: 60vw; */
  width: 80%;
  padding: 2%;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 45%));
  justify-content: center; */
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-container {
  flex-grow: 1;
  padding: 5px;
  width: 45%;
  background-color: black;
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.item-img {
  width: calc(3rem + 10vw);
  height: calc(3rem + 9vw);
}

.item-text {
  display: flex;
  flex-direction: column;
}

.item-text:last-child {
  color: white;
  font-size: clamp(1rem, calc(2vw + 1.5rem), 1.2rem);
  /* font-size: 1.2rem; */
}

.item-name {
  display: flex;
  justify-content: space-between;
  font-family: 'Josefin', Helvetica, sans-serif;
  color: yellow;
  font-size: clamp(1rem, calc(2vw + 1.5rem), 1.2rem);
}

.item-name > h3 {
  display: inline-block;
  text-decoration: underline;
}

.button {
  width: 30%;
  background-color: var(--color-red);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: 'Eternal', Helvetica, sans-serif;
  font-size: 3rem;
}

.button:hover {
  background-color: var(--color-red-hover);
  text-decoration: underline;
}

footer {
  width: 100%;
  color: white;
  text-align: center;
  border-top: 1px solid black;
  background-color: var(--color-red);
}